<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>bms</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>BookAuthorServlet</display-name>
    <servlet-name>BookAuthorServlet</servlet-name>
    <servlet-class>com.cruds.bms.servlet.BookAuthorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookAuthorServlet</servlet-name>
    <url-pattern>/BookAuthorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLoginServlet</display-name>
    <servlet-name>UserLoginServlet</servlet-name>
    <servlet-class>com.cruds.bms.servlet.UserLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLoginServlet</servlet-name>
    <url-pattern>/UserLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserRegisterServlet</display-name>
    <servlet-name>UserRegisterServlet</servlet-name>
    <servlet-class>com.cruds.bms.servlet.UserRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegisterServlet</servlet-name>
    <url-pattern>/UserRegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchByTitleServlet</display-name>
    <servlet-name>SearchByTitleServlet</servlet-name>
    <servlet-class>com.cruds.bms.servlet.SearchByTitleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchByTitleServlet</servlet-name>
    <url-pattern>/SearchByTitleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchByCategory</display-name>
    <servlet-name>SearchByCategory</servlet-name>
    <servlet-class>com.cruds.bms.servlet.SearchByCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchByCategory</servlet-name>
    <url-pattern>/SearchByCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchByAuthor</display-name>
    <servlet-name>SearchByAuthor</servlet-name>
    <servlet-class>com.cruds.bms.servlet.SearchByAuthor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchByAuthor</servlet-name>
    <url-pattern>/SearchByAuthor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentServlet</display-name>
    <servlet-name>StudentServlet</servlet-name>
    <servlet-class>com.cruds.bms.servlet.StudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentServlet</servlet-name>
    <url-pattern>/StudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IssueBookServlet</display-name>
    <servlet-name>IssueBookServlet</servlet-name>
    <servlet-class>com.cruds.bms.servlet.IssueBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IssueBookServlet</servlet-name>
    <url-pattern>/IssueBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchByISBN</display-name>
    <servlet-name>SearchByISBN</servlet-name>
    <servlet-class>com.cruds.bms.servlet.SearchByISBN</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchByISBN</servlet-name>
    <url-pattern>/SearchByISBN</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchByStudent</display-name>
    <servlet-name>SearchByStudent</servlet-name>
    <servlet-class>com.cruds.bms.servlet.SearchByStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchByStudent</servlet-name>
    <url-pattern>/SearchByStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeServlet</display-name>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>com.cruds.bms.servlet.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/HomeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListStudentBooks</display-name>
    <servlet-name>ListStudentBooks</servlet-name>
    <servlet-class>com.cruds.bms.servlet.ListStudentBooks</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListStudentBooks</servlet-name>
    <url-pattern>/ListStudentBooks</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReturnBooksForCurrentDate</display-name>
    <servlet-name>ReturnBooksForCurrentDate</servlet-name>
    <servlet-class>com.cruds.bms.servlet.ReturnBooksForCurrentDate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReturnBooksForCurrentDate</servlet-name>
    <url-pattern>/ReturnBooksForCurrentDate</url-pattern>
  </servlet-mapping>
</web-app>